<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <% products.forEach(product=>{ %>
      <p onclick="cllickedProductName('<%= JSON.stringify(product)%>')">
        <%=product.name%>
      </p>
      <p><%=product.price%></p>

      <% }) %>
    </div>

    <script>
      function cllickedProductName(product) {
        let newProduct = JSON.parse(product);
        console.log(newProduct);
      }
    </script>
  </body>
</html>
